{% extends 'base.html.twig' %}

{% block title %}Football World Cup Score Board{% endblock %}

{% block body %}
    <style>
        .base-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .group-of-matches {
            display: flex;
            flex-wrap: wrap;
        }

        .pair {
            display: flex;
            padding: 0.5em;
        }

        .delimiter, .result {
            padding: 0.5em 0.1em;
        }

        .pair .name {
            padding: 0.5em;
        }

        .upcoming, .finished {
            font-size: small;
        }
    </style>

    <div class="base-wrapper">
        <h1>Football World Cup Score Board ⚽</h1>

        <h5>Upcoming matches:</h5>
        <div class="group-of-matches upcoming">
            {% for pair in upcomingPairs.pairs %}
                <div class="pair">
                    <div class="name">{{ pair.homeTeam.value }}</div>
                    <div class="delimiter">-</div>
                    <div class="name">{{ pair.awayTeam.value }}</div>
                </div>
            {% endfor %}
        </div>

        <h5>Current matches:</h5>
        <div class="group-of-matches current">
            {% for pair in currentPairs.pairs %}
                <div class="pair">
                    <div class="name">{{ pair.homeTeam.value }}</div>
                    <div class="result">{{ pair.result.home }}</div>
                    <div class="delimiter">-</div>
                    <div class="result">{{ pair.result.away }}</div>
                    <div class="name">{{ pair.awayTeam.value }}</div>
                </div>
            {% endfor %}
        </div>

        <h5>Finished matches:</h5>
        <div class="group-of-matches finished">
            {% for pair in finishedPairs.pairs %}
                <div class="pair">
                    <div class="name">{{ pair.homeTeam.value }}</div>
                    <div class="result">{{ pair.result.home }}</div>
                    <div class="delimiter">-</div>
                    <div class="result">{{ pair.result.away }}</div>
                    <div class="name">{{ pair.awayTeam.value }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
